<div class="container">
    <a class="btn btn-primary" ng-href="#!/doctor/create">Add Doctor</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Specialization</th>
                    <th>Gender</th>
                    <th>Update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doctor in doctors">
                    <td>{{doctor.name}}</td>
                    <td>{{doctor.email}}</td>
                    <td>{{doctor.age}}</td>
                    <td>{{doctor.address}}</td>
                    <td>{{doctor.city}}</td>
                    <td>{{doctor.specilization}}</td>
                    <td>{{doctor.gender}}</td>
                    <td><a class="btn btn-warning" ng-href="#!/doctor/{{doctor._id}}">update</a>
                    </td>
                    <td><button class="btn btn-danger" ng-click="deleteDoctor(doctor._id,$index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>